* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  overflow: auto;
}
.conatnerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 8px;
}
.form-inline {
  display: flex;
  gap: 8px;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
